@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Roboto&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-family: sans-serif;
}
/* body {
  overflow-x: hidden;
} */

.overall-container{
  width:100
}
img {
  width: 100%;
  height: auto;
}

.hero-section {
  background-color: linear-gradient
      (180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(213.01deg, #ffffff 4.13%, rgba(254, 150, 198, 0.5) 80.31%);
}
.logo {
  width: 4rem;
  height: 4rem;
}

.main-nav {
  display: flex;
  gap: 2rem;

  justify-content: space-between;
  align-items: center;
  margin-top: 10px;

  font-size: 1.2rem;
  /* border: 2px solid red; */
  width: 50%;
  color: black;
}
.main-nav li:hover {
  background-color: whitesmoke;
}

.nav-link {
  /* border: 2px solid green; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 30rem;
}

ul {
  list-style: none;
  text-decoration: none;
  color: black;
}
li a {
  text-decoration: none;
  color: rgb(33, 30, 30);
}
/* body{
    background-color: #e9e6e8;
} */


hero-section3 .toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100px;
  background-color: white;
  border-radius: 10px;
}

section.hero_baby_background {
  /* display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 60px; */
  /* margin-top: 5rem; */
  height: 100vh;
  width: 100%;
  background-image: url(../image/hero_baby.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  position: relative;
}

.hero-texts {
  position: absolute;
   /* border: 2px solid red;  */
  top: 5rem;
  left: 20rem; 
  width: 70%;
  font-family: 'Cocon', sans-serif;
}

.caption-1 {
  color: #fe96c6;
  font-size: 4rem;
}
.baby {
  color: #fe96c6;
  font-family: 'Open Sans', sans-serif;

  font-size: 2rem;
  font-weight: 900;
  /* border: 3px solid red; */
}

.hero-but {
  text-align: center;
  border: 2px solid;
  /* border-radius: 25px; */
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 20px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  background-color: #6eb245;
  padding-top: 20px;
  margin-top: 2rem;
}
.hero-but:hover {
  background-color: #9d3e89;
}

.hero-section2 {
  position: relative;
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(
      131.41deg,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0.9) 15.33%,
      rgba(255, 210, 231, 0.9) 35.21%,
      rgba(254, 168, 208, 0.9) 51.11%,
      rgba(254, 166, 207, 0.9) 69.85%,
      rgba(255, 255, 255, 0.9) 98.24%,
      rgba(255, 255, 255, 0.9) 109.03%
    );

  /* border: 2px solid red; */
}
.circle-border {
  width: 500px;
  position: absolute;
  top: 12rem;
  left: 10rem;
}
.header-section {
  text-align: center;
  padding-top: 50px;
}
.features {
  color: #21a4c4;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.header-epl {
  padding-top: 10px;
  color: #776e70;
}

.charactaristics-section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  padding-top: 50px;
  /* border: 2px solid yellow; */
  align-items: center;
  padding-left: 5rem;
  padding-right: 5rem;
}
.img-sect {
  /* border: 3px solid black; */
  padding: 6rem;
}

.img-logo {
  width: 20px;
  height: 20px;
}

.happy-laughing-baby {
  width: 400px;
}

.img-logo2 {
  padding-top: 175px;
}
.img-logo3 {
  padding-top: 175px;
}
.h4-protect {
  color: #21a4c4;
}
.p-protect {
  color: #483d3f;
}

.h4-eco {
  color: #6eb245;
}
.p-eco {
  color: #483d3f;
}

.h4-unique {
  color: #21a4c4;
}
.p-unique {
  color: #483d3f;
}

.h4-conc {
  color: #9d3e89;
  margin-top: 5rem;
}
.p-conc {
  color: #483d3f;
}

.hero-section3 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: px; */
  height: 600px;
  /* border: 2px solid red; */
  margin-top: 12rem;
  margin-bottom: 12rem;
  padding-left: 7rem;
  /* border: 2px solid red; */
  position: relative;
}

.woman-on-naturalhair1 {
  /*  flex-grow: 1; */
  /* width: 600px; */
  /* height: 800px; */
  /* background-color: white; */
  border-image: none;
  /* border: 2px solid green; */
  width: 100%;
  height: auto;
}
.abtus {
  /* border: 2px solid red; */
  padding-left: 4rem;
  width: 50%;
}

.about-us {
  color: #795a69;
  font-size: larger;
  font-weight: 800;
  font-size: 2rem;
}

.circle-border2 {
  width: 500px;
  position: absolute;
  top: 17rem;
  left: 65rem;
}
.abt-knowledge-ex {
  padding-top: 30px;
  line-height: 1.5;
  font-size: 1.2rem;
  color: #776e70;
  text-align: left;
  /* border: 2px solid green; */
  width: 90%;
}

.hero-section4 {
  background-color: linear-gradient(
      180deg,
      #ffffff 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      137.03deg,
      rgba(255, 255, 255, 0.95) 47.28%,
      rgba(254, 150, 198, 0.95) 152.37%
    );

  /* border: 2px solid red; */
}

.jide-img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.aikomo-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.rotimi-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.top-distributors {
  text-align: center;
}
.see-topDIS {
  color: #21a4c4;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.top-distributor-explaination {
  color: #776e70;
  margin-bottom: 2rem;
}

.distributors-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  margin: auto;
}

.cust-jide {
  box-shadow: 0 0 20px rgba(185, 50, 50, 0.2);
  border: white solid;
  height: 300px;
  width: 200px;
  text-align: center;
  background-color: white;
  text-align: center;
}

.jide-img {
  border-radius: 50%;

  position: relative;
  left: 35px;
  bottom: 25px;
  text-align: center;
  margin-left: -15px;
}

.jide-img {
  border-radius: 50%;
}

.cust-aikomo {
  box-shadow: 0 0 20px rgba(185, 50, 50, 0.2);
  border: white solid;
  height: 300px;
  width: 200px;
  text-align: center;
  background-color: white;
}

.aikomo-img {
  border-radius: 100%;
  border: white solid;
  position: relative;
  left: 35px;
  bottom: 25px;
  margin-left: -15px;
}

.cust-rotimi {
  box-shadow: 0 0 20px rgba(185, 50, 50, 0.2);
  border: white solid;
  height: 300px;
  width: 200px;
  text-align: center;
  background-color: white;
}

.rotimi-img {
  border-radius: 50%;
  position: relative;
  left: 35px;
  bottom: 25px;
  margin-left: -15px;
}

.jide-but {
  margin-top: 20px;
  background-color: #21a4c4;
  color: white;
  padding: 10px;
  border-radius: 25px;
  border: 2px white solid;
}

.aikomo-but {
  margin-top: 20px;
  background-color: #21a4c4;
  color: white;
  padding: 10px;
  border-radius: 25px;
  border: 2px white solid;
}

.rotimi-but {
  margin-top: 20px;
  background-color: #21a4c4;
  color: white;
  padding: 10px;
  border-radius: 25px;
  border: 2px white solid;
}
.last-section {
  /* padding-top: 80px; */
  text-align: center;
  /* border: 2px solid blue; */
  margin-top: 0.5rem;
}

.last-sech4 {
  color: #776e70;
  font-size: 1rem;
}

.last-secbut:hover {
  background-color: #9d3e89;
}

.hero-section5 {
  background-color: linear-gradient(
      180deg,
      #ffffff 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      137.03deg,
      rgba(255, 255, 255, 0.95) 47.28%,
      rgba(254, 150, 198, 0.95) 152.37%
    );

  
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
   /* border: 2px solid pink; */
   margin-top: 3rem;
   padding-bottom: 5rem; 
}

.Reach_Out_To_Us{
font-size: 2rem;
color: #795A69;
}
.reach-outh5{
  font-size: 1.2rem;
}
.hero-section5img {
  height: 500px;
  width: 600px;
}

.reach-out {
  padding-top: 250px;
  line-height: 2;
  /* border: 2px solid green; */
}
.reach-out {
  color: #776e70;
}





.hero-section6 {
  
  /* border: 2px solid red; */
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

.jide-img-tes {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.aikomo-img-tes {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.rotimi-img-tes {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.distributors-profile-tes {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  margin: auto;
  padding-top: 150px;
}

.cust-aikomo-tes {
  box-shadow: 0 0 20px rgba(185, 50, 50, 0.2);
  border: white solid;
  height: 300px;
  width: 200px;
  text-align: center;
  background-color: white;
}

.name-1 {
  font-size: smaller;
  font-weight: 100;
  padding-top: 1px;
  color: #21a4c4;
}
.test {
  padding-top: 5px;
  color: #776e70;
}

.aikomo-img-tes {
  border-radius: 100%;
  border: white solid;
  position: relative;
  left: 35px;
  bottom: 25px;
  margin-left: -55px;
}

.cust-rotimi-tes {
  box-shadow: 0 0 20px rgba(185, 50, 50, 0.2);
  border: white solid;
  height: 300px;
  width: 200px;
  text-align: center;
  background-color: white;
}

.rotimi-img-tes {
  border-radius: 50%;
  position: relative;
  left: 35px;
  bottom: 25px;
  margin-left: -55px;
}

.cust-jide-tes {
  box-shadow: 0 0 20px rgba(185, 50, 50, 0.2);
  border: white solid;
  height: 300px;
  width: 200px;
  text-align: center;
  background-color: white;
  text-align: center;
}

.jide-img-tes {
  border-radius: 50%;

  position: relative;
  left: 35px;
  bottom: 25px;
  text-align: center;
  margin-left: -55px;
}

.testimonies {
  text-align: center;
  padding-top: 30px;
}

.read-tes {
  color: #21a4c4;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.read-test-futher {
  color: #776e70;
  line-height: 1.5;
  font-size: 1rem;
  
  
}

.hero-section7 {
  height: 300px;

  display: flex;

  flex-wrap: nowrap;
  align-items: center;
  background-color: #b8dbd933;
  justify-content: center;
  gap: 90px;
}

.logo-icon {
  height: 80px;
  width: 80px;
}
.pho-img {
  height: 20px;
  width: 20px;
}
.twit-img {
  height: 20px;
  width: 20px;
}

.face-img {
  height: 20px;
  width: 20px;
}

.lind-img {
  height: 20px;
  width: 20px;
}

.info {
  height: 200px;
  width: 200px;
  line-height: 3;
}

.contact {
  height: 200px;
  width: 400px;
  line-height: 2;
}

.cust-care {
  height: 200px;
  width: 200px;
  line-height: 3;
}

.heading {
  font-weight: 900;
}

.socail-media-link {
  display: flex;
  gap: 30px;
}

ol.socail-media-link {
  list-style: none;
  text-decoration: none;
}

footer {
  height: 50px;
  background-color: #21a4c4;
  text-align: center;
}
.bqs {
  padding-top: 25px;
}

.imageOfWomanWithHanger{
width: 100%;
height: 100%;
text-align: center;
/* border: 2px solid red; */
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 3rem;
}

.imageOfWomanWithHangerInnerContainer{
  width: 40%;
  /* border: 2px solid green; */
  position: relative;
}

.blueRectangle{
  position: absolute;
}

.womanWithHanger{
  position: absolute;
}
.play-button{
  width: 60px;
  height: 60px;
  position: absolute;
  cursor: pointer;
}

.pinkArrow{
width: 30px;
position: absolute;
left: 30%;
}
/*............MEDIA QUARY.................*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {


}